<!-- Auth0.plist -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>atvpC2nyueJncreRpro4Cm76PY6wPuy0</string>
  <key>Domain</key>
  <string>auth-test-pro.auth0.com</string>
</dict>
</plist>
